#right-col {
    float: right;
    margin: 0;
    padding: 0;
    width: 565px;
   
}

    #right-col .post-area {
        width: 565px;
        margin: 10px 0 0 0;
        padding: 0;
        
    }

.post-area h1 {
    margin: 0 0 10px 0;
    padding: 5px;
    padding-left:10px;
    color: #588526;
    font-family: Arial;
    font-size: 14px;
}

.post-area p {
    margin: 0 0 10px 0;
    padding: 0;
    color: #588526;
    font-family: Arial;
    font-size: 12px;
    text-align: justify;
}

.post-area img {
    float: right;
    margin: 0 0 10px 10px;
    padding: 0;
}

#right-col .food-gallery {
    width: 565px;
    height:200px;
    margin: 10px 0 0 0;
    padding: 0;
    
}

.food-gallery .home-title {
    width: 560px;
    background: #177b2f;
    font-family: Arial;
    font-size: 15px;
    font-weight: bold;
    color: #fff;
    margin: 0;
    padding: 5px 0 5px 5px;
}

.food-gallery .picture {
    margin: 10px 0 0 0;
    padding: 0;
}

.picture .big-gallery img {
    float: left;
    margin: 0 16px 10px 0;
    padding: 0;
}

.big-gallery {
    margin: 0 20px 10px 10px;
    padding: 0;
}

.big-gallery  {
    margin: 0 0 10px 0;
    padding: 0;
}
#templatemo_left_col {
    float: left;
    margin: 0;
    padding: 0;
    width: 385px;
    height:411px;
}

    #templatemo_left_col .templatemo_section {
        margin: 10px 0 0 0;
        padding: 0 10px;
        width: 160px;
    }
    .body_Ingredient p
{
    padding: 15px;
}